body{
    margin: 0;
    padding: 0;
    background-image:url('images/check.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.top{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.platform{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    padding: 2em;
    border: 5px solid rgb(255, 254, 254) ;
    border-radius: 9px;
}

.vector {
    max-width: 600px;
    width: 100%;
    max-height: 50vh;
    min-height: 350px;
    object-fit: cover;
 }

.right{
    display: flex;
    justify-content: center;
    position: relative;
    user-select: none;
}

.left{ 
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: -15px;
}

input{
    margin-bottom: 12px;
    border-radius: 9px;
    border: unset;
    width: 250px;
    padding: 5px 10px;
}

.legal{
    margin-top: -5px;
}

.send{
    background-color: #0664f1;
    color:rgb(255, 255, 255);
    width: 270px;
    padding: 10px;
    border-radius: 9px;
    margin-top: 10px;
    font-size: large;
    border: #6a9deb;
    
}